{% extends 'movies/base.html' %}

{% block about %}
<h1>About</h1>
<p>
    Hi, I don't know how and why you ended up here, but I doubt you will find anything of interest here.<br>
    This is my personal web app where I keep track of the movies I have watched. You could say I'm a bit of a movie nerd.<br>
    <br>
    Starting from 2011 and up to this day, I have watched {{ count }} movies, and still counting.<br>
    That makes it on average {{ average }} movies per day.<br>
    <br>
    Anyway, with this useless piece of information, I leave you to your devices.<br>
    <br>
    Cheers!
</p>
{% endblock %}
