{% extends 'movies/base.html' %}
{% block body %}
<div>
    <form action="/filter/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="select_rating">Rating</label>
            <select class="form-control" id="select_rating" name="rating">
                {% for rating in ratings %}
                <option value="{{ rating }}">{{ rating }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="select_genre">Genre</label>
            <select multiple class="form-control" id="select_genre" name="genres" size="10">
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Filter">
    </form>
</div>
<br>
<div>
    {% if count %}
    <h4>Found {{ count }} records</h4>
    {% endif %}
    {% include 'movies/movie_table.html' %}
</div>
{% endblock %}
